<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Packer Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/items" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="price">Price</label>
      <input type="number" name="price" id="price">
      <label for="weight">Weight</label>
      <input type="number" name="weight" id="weight">
      <label for="purchased">Purchased</label>
      <input type="checkbox" name="purchased" id="purchased" value="true">
      <button class="btn btn-info" type="submit">Submit</button>
    </form>
  </body>
</html>